# DATABASE
DB_USER=postgres
DB_PASSWORD=M33naksh!V1kr8910
DB_HOST=your-project.supabase.co
DB_PORT=5432
DB_NAME=postgres

# JWT
JWT_SECRET=0u)QLWauEzSHH>_*elO0eU=gW-FacHWm

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=dmzdhmux
CLOUDINARY_API_KEY=652974375767436
CLOUDINARY_API_SECRET=BVbPzgvzFOxcca0URAlNi6gC_6o

# APP
NODE_ENV=production
PORT=5000
